#black==24.4.2 <- only of my preference, when a black one
cansii==1.2
certifi==2024.2.2
charset-normalizer==3.3.2
#click==8.1.7 <- lib black
idna==3.7
#mypy-extensions==1.0.0 <- lib black
#packaging==24.0 <- lib black
#pathspec==0.12.1 <- lib black
#platformdirs==4.2.1 <- lib black
requests==2.31.0
urllib3==2.2.1
